* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: cadetblue;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
       font-size: 50px;
    font-family: cursive;
    letter-spacing: 10px;
    color: #e0db9f;
}

ul {
    display: flex;
    padding: 1%;
    font-size: x-large;
    font-family: sans-serif;
    font-style: oblique;
    font-weight: bold;
    letter-spacing: 0;
    flex-direction: column;
    overflow-y: unset;
    min-height: 100px;
    flex-wrap: wrap;
    align-content: start;
}

.Item {
    display: flex;
    padding: 2%;
    cursor: pointer;
    word-break: break-word;
}

.topbar {
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Text {
    width: 85%;
    display: flex;
    position: relative;
    margin: auto 0 auto 0;
    height: 50px;
    border-radius: 10px;
    border: 3px solid #ccb1be;
    background-color: #e8d6df;
    font-size: x-large;
    font-weight: bold;
}

.container {
    margin: 5% auto 5% auto;
    position: relative;
    width: 80%;
    height: unset;
    flex-direction: column;
    background-color: slategray;
    padding: 5px;
    border-radius: 15px;
}

.inputTools {
    margin: 0;
    display: flex;
    width: 100%;
    height: max-content;
}

.Append {
    position: relative;
    display: flex;
    height: 50px;
    width: 15%;
    margin: auto 0 auto 0;
    border-radius: 10px;
    border: 3px solid #ccb1be;
    color: #7d5b3e;
    background-color: #e8d6df;
    text-transform: uppercase;
}

p {
    display: flex;
    flex: none;
    width: 100%;
}

@media only screen and (min-width: 300px) {
    .Append {
        font-size: small;
    }
}

@media only screen and (min-width: 760px) {
    .Append {
        font-size: medium;
    }
}

@media only screen and (min-width: 1000px) {
    .Append {
        font-size: large;
        padding: 12px 1.2%;
    }
}

@media only screen and (min-width: 1200px) {
    .Append {
        font-size: larger;
        padding: 3px 2%;
    }
}

@media only screen and (min-width: 1300px) {
    .Append {
        font-size: larger;
        padding: 12px 2.2%;
    }
}