html[data-theme="light"] {
  --buttonBG: white;
  --buttonFG: black;
  --globalBG: white;
  --textboxBG: white;
  --textboxFG: black;
  --itemsBG: #a5b7c96b;
  --headerTitleCLR: black;
  --radioCLR: black;
}

html[data-theme="dark"] {
  --buttonBG: black;
  --buttonFG: white;
  --globalBG: black;
  --textboxBG: black;
  --textboxFG: white;
  --itemsBG: #00f3d5;
  --headerTitleCLR: white;
  --radioCLR: white;
}
* {
  box-sizing: border-box;
  margin: 0;
  transition: all 0.6s;
}

body {
  background-color: var(--globalBG);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 50px;
  font-family: cursive;
  letter-spacing: 10px;
  color: var(--headerTitleCLR);
}

label {
  font-size: 20px;
  font-family: cursive;
  color: var(--radioCLR);
}

ul {
  display: flex;
  padding: 1%;
  font-size: x-large;
  font-family: sans-serif;
  font-style: oblique;
  font-weight: bold;
  letter-spacing: 0;
  flex-direction: column;
  overflow-y: unset;
  min-height: 100px;
  flex-wrap: wrap;
  align-content: start;
}

.Item,
button,
.close {
  cursor: pointer;
}

.Item {
  display: flex;
  padding: 2%;
  word-break: break-word;
}

.topbar {
  margin: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Text {
  width: 85%;
  display: flex;
  position: relative;
  margin: auto 0 auto 0;
  height: 50px;
  border-radius: 10px;
  border: 3px solid #ccb1be;
  background-color: var(--textboxBG);
  color: var(--textboxFG);
  font-size: x-large;
  font-weight: bold;
}

.container {
  margin: 5% auto 5% auto;
  position: relative;
  width: 80%;
  height: unset;
  flex-direction: column;
  background-color: var(--itemsBG);
  padding: 5px;
  border-radius: 15px;
}

.inputTools {
  margin: 0;
  display: flex;
  width: 100%;
  height: max-content;
}

.Append {
  position: relative;
  display: flex;
  height: 50px;
  width: 15%;
  margin: auto 0 auto 0;
  border-radius: 10px;
  border: 3px solid #ccb1be;
  color: var(--buttonFG);
  background-color: var(--buttonBG);
  text-transform: uppercase;
}

p {
  display: flex;
  flex: none;
  width: 100%;
}
/************************************************* modal classes *********************************************/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: #f8dede;
  margin: auto;
  border-radius: 15px;
  padding: 20px;
  border: 3px solid #000;
  width: 80%;
}

.modal-button {
  height: fit-content;
  width: fit-content;
  font-size: larger;
  background-color: black;
  color: azure;
  border-radius: 10px;
  margin: 1%;
}

.modal-textBox {
  display: flex;
  width: 70%;
  margin: 1%;
  font-size: larger;
  border: 2px solid black;
  border-radius: 5px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin: -3px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
}

/************************************************* media queries *********************************************/
@media only screen and (min-width: 200px) {
  h1 {
    font-size: 30px;
  }
  p {
    font-size: xx-small;
  }
  .Append {
    margin: 0;
    padding: 0;
  }
}

@media only screen and (min-width: 500px) {
  h1 {
    font-size: 30px;
  }
  p {
    transition: 0s;
    font-size: small;
    font-weight: 800;
  }
  .Append {
    margin: 0;
    padding: 8px;
  }
}

@media only screen and (min-width: 760px) {
  p {
    transition: 0s;
    font-size: small;
    font-weight: 800;
  }
  .Append {
    margin: 0;
    padding: 5px 12px 12px 12px;
  }
}

@media only screen and (min-width: 1000px) {
  .Append {
    transition: 0s;
    padding: 12px 1.2%;
  }
  p {
    transition: 0s;
    font-size: medium;
    font-weight: 800;
  }
}

@media only screen and (min-width: 1200px) {
  .Append {
    transition: 0s;
    padding: 3px 2%;
  }
  p {
    transition: 0s;
    font-size: large;
    font-weight: 600;
  }
}

@media only screen and (min-width: 1300px) {
  .Append {
    transition: 0.6s;
    padding: 12px 2.2%;
  }
  p {
    font-weight: 700;
  }
}
